{
  "apiVersion": "operators.coreos.com/v1alpha1",
  "kind": "ClusterServiceVersion",
  "metadata": {
    "name": "kubestone.v$(VERSION)"
  },
  "spec": {
    "install": {
      "spec": {
        "permissions": [{
          "serviceAccountName": "kubestone-operator",
          "rules": .rules
        }]
      }
    }
  }
}
